body {
    background-color: #724e2c;
}

#header-arch {
    display: inline;
    padding-left:auto;
    padding-right:auto;
    height: 150px;
    width: 300px;
    border-radius: 50% 50% 0 0;
    background-color: blanchedalmond;
    border: 50px;
    border-color: #271300;
}

#logo {
    display: inline;
    padding-left: auto;
    padding-right: auto;
}

h1, h2 {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

p {
    font-family: Arial;
    margin: 0;
}

.gal-logo-container {
    margin-left: auto;
    margin-right: auto;
}

#circle {
    display: inline-block;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
    padding-left:auto;
    padding-right:auto;
}

#logo {
    display: inline-block;
    padding-left: auto;
    padding-right: auto;
}

.gal-photo {
    display: inline-block;
    height: 320px;
    width: 250px;
    background: white;
}
