body {
    background-color: #724e2c;
}

#header-arch-container {
    display:flex;
    align-items:center;
    justify-content: center;
}

#header-arch {
    height: 175px;
    width: 320px;
    border-radius: 50% 50% 0 0;
    background-color: blanchedalmond;
    border: 50px;
    border-color: #271300;
}

h1, h2 {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

p {
    font-family: Arial;
    margin: 0;
}

#circle {
    position:relative;
    top: 8px;
    height: 160px;
    width: 160px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
}

.gal-photo_container{
    position:relative;
    width:100%;
}


.gal-logo_slide img{
    width: 100%;
    height: auto;
}

carousel-inner {
    height:100%;
    width:100%;
}

object {
    padding: 0;
    margin: 0;
    width: fit-content;
}